<div class="navbar-wagon">
  <%= link_to "Home", "index.html", class:"navbar-wagon-item navbar-wagon-link" %>
  <div class="navbar-wagon-right">
    <%= link_to "Popular Destinations", "index.html#container-popular", class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "All Destinations", "index.html#container-standard", class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Your Trips", "trips.html", class:"navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "About", "about.html", class:"navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
