---
title: Home
---
<div id="home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <div class="main-padding">
      <h3>The world awaits!</h3>
      <h4>Where do you want to go?</h4>
    </div>
    <div>
      <h4>Featured City: Berlin</h4>
      <%= link_to "Go now!", "go.html", class: "go" %>
    </div>
    <div class="main-padding">
      <h5>Or see more cities below</h5>
    </div>
  </div>
</div>

<div class="container-popular">
  <div class="row">
    <p class="center">Popular Destinations</p>
    <% data.popularcities.each do |city| %>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city.name %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= city.name.capitalize %></h2>
            <p><%= city.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-standard">
  <div class="row">
    <p class="center">All Destinations</p>
    <% data.cities.each do |city| %>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city.name %>');">
          <div class="card-description">
            <h2><%= city.name.capitalize %></h2>
            <p><%= city.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="map" style="width: 100%; height: calc(100vh - 70px);"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: []
  // this space for future snazzymaps styling
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
